discord==1.7.3
discord.py==1.7.3
aiohttp==3.7.4.post0
aiosignal==1.2.0
alembic==1.7.6
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
CacheControl==0.12.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colorlog==6.6.0
contextlib2==0.6.0.post1
cryptography==36.0.2
distlib==0.3.4
distro==1.7.0
Flask==2.0.3
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
frozenlist==1.3.0
greenlet==1.1.2
hikari==2.0.0.dev107
hikari-lightbulb==2.2.0
html5lib==1.1
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.0
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.2
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
Pillow==9.0.1
ply==3.11
progress==1.6
pycparser==2.21
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-decouple==3.6
python-dotenv==0.19.2
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
SQLAlchemy==1.4.31
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.8
uvloop==0.16.0
webencodings==0.5.1
Werkzeug==2.0.3
ws4py==0.5.1
yarl==1.7.2
